<h1>このプログラムについて</h1>
<table>
  <tr>
    <th>バージョン</th>
    <td>VERSION</td>
  </tr>
  <tr>
    <th>git コミットID</th>
    <td>git commit ID</td>
</table>
<footer>
  <a href="https://github.com/koi-chan/opac-rails">GitHub repo</a>
</footer>
